<h1 class="banner"> Stupid Coaching</h1>
<h3>This is your question</h3>
<p><%= params[:question] %></p>
<%= link_to "Link to Question", ask_path %>

<h3>This is your coaches answer</h3>
<p><%= @answer %></p>
